.square
{
    margin:auto;
    margin-top:20%;
    width:200px;
    height:200px;
    position:relative;
    perspective: 200px;
}
.square div
{
    position:absolute;
    top:0;
    width:80px;
    height:80px;
    background-color: coral;
    animation:flip 2s linear infinite;
    transform-origin: right bottom;
}
.spinner div:nth-child(2)
{
    border:8px solid transparent;
    border-bottom-color: rgb(86, 16, 214);
    animation:spinner2 1s linear infinite;
}
@keyframes flip
{
    0% { transform : rotateX(0deg) rotateY(0deg);}
    25% { transform : rotateX(0deg) rotateY(180deg);}
    50% { transform : rotateX(180deg) rotateY(180deg);}
    75% { transform : rotateX(180deg) rotateY(0deg);}
    100% { transform : rotateX(0deg) rotateY(0deg);}
}
@keyframes spinner2
{
    0% { transform : rotate(0deg); border-width:1px;}
    50% { transform : rotate(180deg); border-width:10px;}
    100% { transform : rotate(360deg); border-width:1px;}
}
/* responsiveness */
@media (max-width:575px)
{
    .spinner 
    {
        margin-top:50%;
        width:80px;
        height:80px;
    }
}
@media (min-width:576px) and (max-width:767px)
{
    .spinner 
    {
        margin-top:35%;
        width:80px;
        height:80px;
    }
}
@media (min-width:768px) and (max-width:991px)
{
    .spinner 
    {
        margin-top:25%;
        width:80px;
        height:80px;
    }
}