.square
{
    margin:auto;
    margin-top:40vh;
    width:200px;
    height:200px;
    position:relative;
    perspective: 200px;
}
.square div
{
    position:absolute;
    top:0;
    width:80px;
    height:80px;
    background-color: rgb(230, 65, 5);
    animation:flip 2s linear infinite;
    transform-origin: right bottom;
}
.square div:nth-child(2)
{
    animation-delay:1s;
    opacity: 0.7;
}
@keyframes flip
{
    0% { transform : rotateX(0deg) rotateY(0deg);}
    25% { transform : rotateX(0deg) rotateY(180deg);}
    50% { transform : rotateX(180deg) rotateY(180deg);}
    75% { transform : rotateX(180deg) rotateY(0deg);}
    100% { transform : rotateX(0deg) rotateY(0deg);}
}
/* responsiveness */
@media (max-width:700px)
{
    .square 
    {
        width:150px;
        height:150px;
        position:relative;
        perspective: 150px;
    }
    .square div
    {
        width:60px;
        height:60px;
    }
}